@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Bold.ttf");
  font-weight: 700;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
b {
  font-weight: 700;
}

p,
span,
a {
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

.navbar.navbar-expand-lg.bg-body-tertiary {
  background-color: transparent !important;
}

header {
  padding-top: 50px;
  background: url("./assets/images/Subtract.svg"), url("./assets/images/Subtract1.svg"), linear-gradient(-185deg, #172755 0 80%, red 80% 81%, transparent 81% 100%);
  background-position: top left, bottom right;
  background-repeat: no-repeat, no-repeat;
  height: 80vh;
}
header #menu-switch {
  display: none;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
header nav a {
  color: #8794ba;
}
header nav > div {
  display: flex;
  align-items: center;
}
header nav > div img {
  margin-right: 81px;
}
header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 36px;
}
header nav ul label {
  display: none;
}
header nav ul .sign-up {
  border-radius: 68px;
  padding: 10px 53px;
  border: 1px solid #465b95;
}

.features {
  text-align: center;
}
.features .container h1 {
  font-size: 40px;
}
.features .container > p {
  font-size: 18px;
  color: #8794ba;
  margin-top: 30px;
  margin-bottom: 81px;
}
.features .our_features {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  text-align: center;
}
.features .our_features__card:nth-child(1) {
  grid-column: 1/3;
  grid-row: 1/3;
}
.features .our_features__card:nth-child(2) {
  grid-column: 3/4;
  grid-row: 1/5;
}
.features .our_features__card:nth-child(3) {
  grid-column: 1/4;
  grid-row: 5/6;
}
.features .our_features__card {
  border: 1px solid red;
}
.features .our_features__card h3 {
  font-size: 16px;
  margin-top: 26px;
  margin-bottom: 15px;
}
.features .our_features__card p {
  font-size: 16px;
  color: #8794ba;
  line-height: 140%;
}

@media screen and (max-width: 884px) {
  .features .container {
    padding: 1rem;
  }
  .features .our_features {
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  .features .our_features__card:nth-child(1) {
    grid-column: unset;
    grid-row: unset;
  }
  .features .our_features__card:nth-child(2) {
    grid-column: unset;
    grid-row: unset;
  }
  .features .our_features__card:nth-child(3) {
    grid-column: unset;
    grid-row: unset;
  }
}
@media screen and (max-width: 768px) {
  .container {
    padding: 0 20px;
  }
  header .overlay-menu-switch {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    z-index: 9;
  }
  header nav {
    position: relative;
  }
  header .nav-bar {
    position: absolute;
    transform: translate(110%);
    transition: all 1s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    width: 200px;
    height: 250px;
    padding: 1rem;
    top: 6vh;
    right: 0;
    border-radius: 1rem;
    background-color: #172755;
    box-shadow: 3px 3px 10px #465b95;
    z-index: 10;
  }
  header #menu-switch:checked + nav .nav-bar {
    transform: translate(0);
  }
  header #menu-switch:checked + nav + label {
    display: block;
  }
  header nav > div img {
    margin-right: 0;
  }
  header nav ul label {
    display: block;
    z-index: 11;
  }
  header nav ul .sign-up {
    display: none;
  }
  .features {
    text-align: center;
  }
  .features .container h1 {
    font-size: 40px;
  }
  .features .container > p {
    font-size: 18px;
    color: #8794ba;
    margin-top: 30px;
    margin-bottom: 81px;
  }
  .features .our_features {
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    text-align: center;
  }
  .features .our_features__card {
    align-items: flex-start;
    display: flex;
    border: none;
    text-align: left;
    gap: 28.5px;
  }
  .features .our_features__card h3 {
    margin-bottom: 9px;
    margin-top: 0;
  }
  .features .our_features__card p {
    font-size: 14px;
  }
}/*# sourceMappingURL=style.css.map */