@use "./assets/styles/fonts";
@use "./assets/styles/global";
@use "./assets/styles/changed-bootstrap";
body {
  //   overflow: hidden;
}
header {
  padding-top: 50px;
  background: url("./assets/images/Subtract.svg"),
    url("./assets/images/Subtract1.svg"),
    linear-gradient(-185deg, #172755 0 80%, red 80% 81%, transparent 81% 100%);

  background-position: top left, bottom right;
  background-repeat: no-repeat, no-repeat;
  height: 80vh;
  #menu-switch {
    display: none;
  }
  nav {
    a {
      color: #8794ba;
    }
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    & > div {
      display: flex;
      align-items: center;
      img {
        margin-right: 81px;
      }
    }

    ul {
      list-style: none;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 36px;
      label {
        display: none;
      }
      .sign-up {
        border-radius: 68px;
        padding: 10px 53px;
        border: 1px solid #465b95;
      }
    }
  }
}

.features {
  text-align: center;
  .container {
    h1 {
      font-size: 40px;
    }
    & > p {
      font-size: 18px;
      color: #8794ba;
      margin: {
        top: 30px;
        bottom: 81px;
      }
    }
  }
  .our_features {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    // grid-template-rows: 300px 500px 400px;
    grid-gap: 20px;
    text-align: center;
    &__card:nth-child(1) {
      grid-column: 1/3;
      grid-row: 1/3;
    }
    &__card:nth-child(2) {
      grid-column: 3/4;
      grid-row: 1/5;
    }
    &__card:nth-child(3) {
      grid-column: 1/4;
      grid-row: 5/6;
    }
    &__card {
      border: 1px solid red;
      h3 {
        font-size: 16px;
        margin: {
          top: 26px;
          bottom: 15px;
        }
      }
      p {
        font-size: 16px;
        color: #8794ba;
        line-height: 140%;
      }
    }
  }
}
@media screen and (max-width: 884px) {
  .features {
    .container {
      padding: 1rem;
    }
    .our_features {
      grid-template-columns: 1fr 1fr;
      // grid-template-rows: 300px 500px 400px;
      grid-gap: 20px;
      &__card:nth-child(1) {
        grid-column: unset;
        grid-row: unset;
      }
      &__card:nth-child(2) {
        grid-column: unset;
        grid-row: unset;
      }
      &__card:nth-child(3) {
        grid-column: unset;
        grid-row: unset;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 20px;
  }
  header {
    .overlay-menu-switch {
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      display: none;
      z-index: 9;
    }
    nav {
      position: relative;
    }
    .nav-bar {
      position: absolute;
      transform: translate(110%);
      transition: all 1s;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      position: absolute;
      width: 200px;
      height: 250px;
      padding: 1rem;
      top: 6vh;
      right: 0;
      border-radius: 1rem;
      background-color: #172755;
      box-shadow: 3px 3px 10px #465b95;
      z-index: 10;
    }

    #menu-switch:checked + nav .nav-bar {
      transform: translate(0);
    }
    #menu-switch:checked + nav + label {
      display: block;
    }
    nav {
      & > div {
        img {
          margin-right: 0;
        }
      }
      ul {
        label {
          display: block;
          z-index: 11;
        }
        .sign-up {
          display: none;
        }
      }
    }
  }

  .features {
    text-align: center;
    .container {
      h1 {
        font-size: 40px;
      }
      & > p {
        font-size: 18px;
        color: #8794ba;
        margin: {
          top: 30px;
          bottom: 81px;
        }
      }
    }
    .our_features {
      display: flex;
      flex-direction: column;
      grid-template-columns: 1fr;
      // grid-template-rows: 300px 500px 400px;
      grid-gap: 20px;
      text-align: center;
      &__card {
        // background-color: red;
        align-items: flex-start;
        display: flex;
        border: none;
        text-align: left;
        gap: 28.5px;
        h3 {
          margin-bottom: 9px;
          margin-top: 0;
        }
        p {
          font-size: 14px;
        }
      }
    }
  }
}
