* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
b {
  font-weight: 700;
}

p,
span,
a {
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}
